body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

img {
    width: 80%;
    height: auto;
    border: 1px solid #ccc;
}
